* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: antiquewhite;
    cursor: context-menu;
}

header{
    height: 45px;
    background-color: #1f1f52;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

main{
    min-height: calc(100vh - 145px);
    /* min-height: 600px; */
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}

footer{
    min-height: 100px;
    background-color: blueviolet;
}

/* HEADER RULES */
#header-text{
    font-size: x-large;
    color: white;
}

.links{
    display: flex;
    /* justify-content: baseline; */
}

.links ul.linksList{
    list-style: none;
    display: flex;
}

.links ul.linksList li.linksListElement{
    margin: 6px;
}

.links ul.linksList li.linksListElement a{
    text-decoration: none;
    color: white;
}

.links ul.linksList li.linksListElement a:hover{
    color: brown;
    cursor: pointer;
}

.links .ricerca{
    margin: 6px;
}

.links .ricerca i{
    margin: 0px 8px;
    color: white;
    cursor: auto;
}

.links .ricerca i:hover{
    color: brown;
    cursor: pointer;
}

/* MAIN RULES */
    /* SECTION 1 RULES */
#sezione1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* position: relative; */
    padding-top: 16px;
    background-color: #1f1f52;
    width: 100%;
}

#prova{
    background-color: yellow;
    /* position: relative; */
}

#sezione1 h2{
    font-size: 4rem;
    color: white;
}

#sezione1 p{
    font-size: 1.5rem;
    color: #bcb2ac;
}

#sezione1 button{
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    color: white;
    background-color: #20ad96;
    border: none;
    border-radius: 5px;
}

#sezione1 .imgSezione1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: absolute;
    z-index: 999; */
    /* margin-top: 100px; */
    /* width: 300px; */
    height: 340px;
    background-color: bisque;
}

    /* SECTION 2 RULES */
#sezione2{
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    line-height: 30px;
}

#sezione2text{
    font-size: xx-large;
}

.sezione2Strong{
    margin-top: 14px;
}

.sezione2Colonne{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.sezione2config{
    margin: 0 10px;
}

#sezione2 .green{
    color: #20ad96;
}

#sezione2 .grey{
    color: #696969;
}

    /* SECTION 3 RULES */
#sezione3{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 25px;
}

#sezione3left{
    display: flex;
    flex-direction: row;
}

#sezione3left #sx2{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#sezione3left #dx2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
}

.sezione3box{
    background-color: #FFFFF0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 8px 0;
    padding: 8px;
    width: 250px;
}

#sezione3 .black{
    color: #3f3a64;
}

#sezione3 .grey{
    color: #696981;
}

#sezione3 p.green{
    font-size: x-large;
    margin: 10px 0;
}

#sezione3 .green{
    color: #20ad96;
}

#sezione3 #black2{
    color: black;
}

#sezione3 ul.grey{
    line-height: 35px;
}

#sezione3 button{
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    color: white;
    background-color: #20ad96;
    border: none;
    border-radius: 5px;
}
