* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: antiquewhite;
    cursor: context-menu;
}

header{
    height: 45px;
    background-color: #1f1f52;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

main{
    min-height: calc(100vh - 145px);
    /* min-height: 600px; */
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    min-height: 100px;
    background-color: #f8f8f8;
}

/* HEADER RULES */
#header-text{
    font-size: x-large;
    color: white;
}

.links{
    display: flex;
}

.links ul.linksList{
    list-style: none;
    display: flex;
}

.links ul.linksList li.linksListElement{
    margin: 6px;
}

.links ul.linksList li.linksListElement a{
    text-decoration: none;
    color: white;
}

.links ul.linksList li.linksListElement a:hover{
    color: brown;
    cursor: pointer;
}

.links .ricerca{
    margin: 6px;
}

.links .ricerca i{
    margin: 0px 8px;
    color: white;
    cursor: auto;
}

.links .ricerca i:hover{
    color: brown;
    cursor: pointer;
}

/* MAIN RULES */
    /* SECTION 1 RULES */
#sezione1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    padding-top: 40px;
    background-color: #1f1f52;
    width: 100%;
    min-height: 560px;
}

#sezione1Text{
    width: 100%;
    text-align: center;
}

#sezione1 h2{
    font-size: 4rem;
    color: white;
}

#sezione1 p{
    font-size: 1.5rem;
    color: #bcb2ac;
}

#sezione1 button{
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    color: white;
    background-color: #20ad96;
    border: none;
    border-radius: 5px;
}

#sezione1 .imgSezione1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 999;
    margin-top: 80px;
    width: 100%;
    height: 340px;
    text-align: center;
}

    /* SECTION 2 RULES */
#sezione2{
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
    line-height: 30px;
}

#sezione2text{
    font-size: xx-large;
    margin-top: 100px;
}

.sezione2Strong{
    margin-top: 14px;
}

.sezione2Colonne{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.sezione2config{
    margin: 0 10px;
}

#sezione2 .green{
    color: #20ad96;
}

#sezione2 .grey{
    color: #696969;
}

    /* SECTION 3 RULES */
#sezione3{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

#sezione3left{
    display: flex;
    flex-direction: row;
}

#sezione3left #sx2{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#sezione3left #dx2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
}

.sezione3box{
    background-color: #FFFFF0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 8px 0;
    padding: 8px;
    width: 250px;
}

#sezione3 .black{
    color: #3f3a64;
}

#sezione3 .grey{
    color: #696981;
}

#sezione3 p.green{
    font-size: x-large;
    margin: 10px 0;
    color: #20ad96;
}

#sezione3 #black2{
    color: black;
}

#sezione3 ul.grey{
    line-height: 35px;
}

#sezione3 button{
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    color: white;
    background-color: #20ad96;
    border: none;
    border-radius: 5px;
}

    /* SECTION 4 RULES */
#sezione4{
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 50px;
}

#sezione4 .grey{
    color: #696981;
}

#sezione4 p.green{
    font-size: 4rem;
    margin: 10px 0;
    color: #20ad96;
}

#sezione4 #black2{
    color: black;
}

#sezione4 .offerteCorsi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 14px 10px;
    width: 80%;
    font-size: 1.4rem;
    line-height: 0.8cm;
}

#sezione4 .offerteCorsi .corsi{
    flex-basis: calc(100% / 2);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 50px;
}

#sezione4 .offerteCorsi .corsi img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#sezione4 .offerteCorsi .corsi .imgSezione4 img{
    display: flex;
}

#sezione4 .offerteCorsi .corsi .textSezione4{
    padding: 0 20px;
}

#sezione4 button{
    margin: 18px 0;
    padding: 12px 20px;
    text-align: center;
    color: white;
    background-color: #20ad96;
    border: none;
    border-radius: 5px;
}

#sezione4 .offerteCorsi .corsi .textSezione4 a.color{
    color: #20ad96;
    cursor: pointer;
}

#sezione4 .offerteCorsi .corsi .textSezione4 a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

#sezione4 .offerteCorsi .corsi .textSezione4 a:hover{
    color: brown;
    cursor: pointer;
}








    /* FOOTER RULES */
.footerInfo{
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 1.3rem;
    line-height: 0.8cm;
    color: #6a6a6a;
}

footer a{
    text-decoration: none;
    color: #6a6a6a;
}

footer a:hover{
    color: brown;
    cursor: pointer;
}

footer .blackfoot{
    color: black;
}

.footersx{
    font-size: 1.3rem;
    line-height: 0.8cm;
}

.footersx .social{
    padding-top: 30px;
}

.footersx .social i{
    padding: 0 10px;
    font-size: 1.2rem;
}

.footerdx{
    display: flex;
}

.footerdx h5{
    padding-bottom: 16px;
}

.footerdx ul{
    list-style: none;
}

.footerdx .explorer{
    display: flex;
}

footer .footerInfo .footerdx .explorer .explorer1 {
    position: relative;
    top: 40px;
    left: -60px;
}

footer .footerInfo .footerdx .explorer .explorer2 {
    position: relative;
    top: 40px;
    left: 0;
}

.footerdx .information{
    margin-left: 60px;
}

footer .ultimate{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 10px;
}