<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>MaxCoach</title>
</head>
<body>
    
    <div id="app">
        <header>
            <div id="header-text">
                <p><strong>{{titolo}}</strong>{{titolo2}}</p>
            </div>
            <div class="links">
                <ul class="linksList">
                    <li class="linksListElement" v-for="element in linksheader">
                        <a href="">{{element}}</a>
                    </li>
                </ul>
                <div class="ricerca">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="far fa-user-circle"></i>
                    <input type="text" placeholder="Search...">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </header>


        <!-- inizio main -->
        <main>

            <!-- sezione 1 -->
            <section id="sezione1">
                <div id="sezione1Text">
                    <h2>Learn At Your Own Pace!</h2>
                    <p>Get teamed up with people of the same will.</p>
                    <button>Get started for free</button>
                    <div class="imgSezione1">
                        <img src="img/home-6-hero-left-person-244x300.png" alt="">
                        <img src="img/home-6-hero-poster-final.jpg" alt="">
                        <img src="img/home-6-hero-right-person-195x300.png" alt="">
                    </div>
                </div>
            </section>

            <section id="sezione2">
                <h3 id="sezione2text">Let passion and determination be the guide <br> along the way and develop at your own pace <br> that's comfortable.</h3>
                <strong class="sezione2Strong">FANNIE MORENO</strong>
                <p class="grey">/Founder &amp; CEO</p>
                <div class="sezione2Colonne">
                    <div class="sezione2config">
                        <h2 class="green">1.926</h2>
                        <h6 class="grey">FINISHED SESSIONS</h6>
                    </div>
                    <div class="sezione2config">
                        <h2 class="green">3.092+</h2>
                        <h6 class="grey">ENROLLED LEARNERS</h6>
                    </div>
                    <div class="sezione2config">
                        <h2 class="green">200</h2>
                        <h6 class="grey">ONLINE INSTRUCTORS</h6>
                    </div>
                    <div class="sezione2config">
                        <h2 class="green">100&percnt;</h2>
                        <h6 class="grey">SATISFACTION RATE</h6>
                    </div>
                </div>
            </section>

            <section id="sezione3">
                <div id="sezione3left">
                    <div id="sx2">
                        <div class="sezione3box">
                            <h4 class="black">Graphic Design</h4>
                            <p class="grey">Have a passion for graphics and arts? Show your talents with confidence and self-assertiveness.</p>
                            <img src="img/home-6-service-image-01.png" alt="">
                        </div>
                        <div class="sezione3box">
                            <img src="img/home-6-service-image-03.png" alt="">
                            <h4 class="black">Idea Discussion</h4>
                            <p class="grey">Get teamed up with the specialists who work and teach coding for years at famous universities.</p>
                        </div>
                    </div>
                    <div id="dx2">
                        <div class="sezione3box">
                            <h4 class="black">Business Administration</h4>
                            <p class="grey">Learners are encouraged to study the mechanism and structure of system administration.</p>
                            <img src="img/home-6-service-image-02.png" alt="">
                        </div>
                        <div class="sezione3box">
                            <img src="img/home-6-service-image-04.png" alt="">
                            <h4 class="black">Web Development</h4>
                            <p class="grey">Learn to start building a webpage from scratch. You decide your own pace, course and speed.</p>
                        </div>
                    </div>
                </div>
                <div id="sezione3right">
                    <p class="grey">TOGETHER WE CAN CREATE</p>
                    <p class="green"><strong id="black2">Services We</strong> Can Provide <strong id="black2">For My Clients.</strong></p>
                    <ul class="grey">
                        <li>Select &amp; customize courses to your preferences</li>
                        <li>Change the tutor and make arrangements</li>
                        <li>Participate in events to join others</li>
                        <li>Get the desired certificate delivered at house</li>
                    </ul>
                    <button>Get Started for free</button>
                </div>
            </section>

            <section id="sezione4">
                <p class="grey">CHOOSE A COURSE TO GET STARTED</p>
                <p class="green"><strong id="black2">Latest Featured</strong> Courses</p>
                <div class="offerteCorsi">
                    <div class="corsi" v-for="corsi in linkCourses">
                        <div class="imgSezione4">
                            <img :src="`./img/${corsi.image}`" alt="corsi">
                        </div>
                        <div class="textSezione4">
                            <a href="" class="color">{{corsi.price}}</a> <br>
                            <a href="">{{corsi.title}}</a>
                            <div class="info grey">
                                <i class="far fa-file-alt"> {{corsi.lessons}}</i>
                                <i class="far fa-user"> {{corsi.students}}</i>
                            </div>
                        </div>
                    </div>
                </div>
                <button>View all courses <i class="fas fa-arrow-right"></i></button>
            </section>

            <!-- Why People Talk About MaxCoach? -->
            <section id="sezione5">
                <p class="green"><strong class="black">Why People Talk About</strong> MaxCoach <strongstrong class="black">?</strong></p>
                <div class="sezioneWhy">
                    <div class="sezione5Img">
                        <img src="img/testimonial-avata-02.jpg" alt="testimonial">
                        <img src="img/maxcoach-shape-05-150x150.png" alt="cerchi">
                    </div>
                    <div class="seizone5Text">
                        <p>I am free to learn at my own pace, follow my own schedule and choose the subjects I like. Great study portal for people like me.</p>
                        <h6>MINA HOLLANCE</h6>
                        <p class="grey">/Freelancer</p>
                    </div>
                </div>
                <div class="imagesSezione5">
                    <img src="img/client-logo-colored-01.png" alt="logo">
                    <img src="img/client-logo-colored-02.png" alt="logo">
                    <img src="img/client-logo-colored-03.png" alt="logo">
                    <img src="img/client-logo-colored-04.png" alt="logo">
                    <img src="img/client-logo-colored-05.png" alt="logo">
                    <img src="img/client-logo-colored-06.png" alt="logo">
                </div>
            </section>

            <!-- Latest on Our Blogs -->
            <section id="sezione6">
                <p class="grey">ENJOY READING ON MAXCOACH</p>
                <p class="green"><strong id="black2">Latest on</strong> Our Blogs</p>
                <div class="offerteBlog">
                    <div class="blog" v-for="blog in linkBlogs">
                        <div class="imgSezione6">
                            <img :src="`./img/${blog.image}`" alt="blog">
                        </div>
                        <div class="textSezione6">
                            <a href="" class="color">{{blog.profession}}</a> <br>
                            <a href="">{{blog.title}}</a>
                            <div class="info grey">
                                <i class="far fa-calendar"> {{blog.date}}</i>
                                <i class="far fa-eye"> {{blog.views}}</i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>



        <!-- inizio footer -->
        <footer>
            <div class="footerInfo">
                <div class="footersx">
                    <h5 class="blackfoot">{{titolofooter1}}</h5>
                    <span>
                        {{indirizzo}} <br> {{opening}} <br>
                        <a href="">{{footeremail}}</a>
                    </span>
                    <div class="social">
                        <a href=""><i class="fab fa-facebook-square"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="footerdx">
                    <div class="explorer">
                        <h5 class="blackfoot">{{titolofooter2}}</h5>
                        <div class="explorer1">
                            <ul v-for="element in explore1">
                                <li>
                                    <a href="">{{element}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="explorer2">
                            <ul v-for="element in explore2">
                                <li>
                                    <a href="">{{element}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="information">
                        <h5 class="blackfoot">{{titolofooter3}}</h5>
                        <ul v-for="element in information1">
                            <li>
                                <a href="">{{element}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ultimate">
                <span class="copyright">&copy; {{footerUltimate}} </span>
            </div>
        </footer>

    </div>


    <script src="js/script.js"></script>

</body>
</html>